@charset "utf-8";
/* CSS Document */


#contenido{
	
width:500px;
background-color:#CCC;
padding:10px 10px 10px 40px;	
	
}


#contenido2{
	
width:500px;
background-color:#E7E2DB;
padding:10px 10px 10px 40px;	
	
}


#circulo{

width:57px;
height:59px;
padding:10px;

	
}


#circulo2{

width:57px;
height:59px;
padding:10px;

	
}


#popupBasic{


background-color:#CCC;
font-size:14px;
width:450px;	
padding:20px;

}



#jorgeluisborges{
	
font-size:19px;	
text-align:center;
	
}


#pantalla2{
	
background-color:#FFF;
padding:5px 25px 25px 25px;
	
	
}


#botoncito{
	
background-color:#FF0;	
width:150px;

	
}

h3{

font-size:17px;
color:#666;
font-weight:200;
text-align:center;
	
}


#popupMenu{
	
background-color:#CCC;

}

#popupDialog{
	
background-color:#CCC;
color:#000;
font-weight:100;

}


#facebook{
	
width:105px;
height:100px;
display:inline-block;
padding-right:300px;

}
